<div class="right_content clearfix">
    <div class="erp_contain_header" style="height: 61px; background-color: #f7f7f7; border-bottom: 1px solid #ddd;">
        <p style="font-size: 18px;">企业信息</p>
    </div>
    <div class="erp_contain" style="margin-left: 50px;">
        <h3 class="common_title2">{{.companyName}}</h3>
        <div style="padding-top: 20px;">
            <p style="font-size: 16px;"><span style="font-weight: bold;">公司代码：</span>{{.companyCode}}</p>
        </div>
    </div>
</div>
